<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="clientid" value="0c182bce-e608-413c-990c-6980f1ae18e0"/>
  <add key="thumbprint" value="0c182bce-e608-413c-990c-6980f1ae18e0"/>  
</appSettings>
</configuration>